<div class = "container text-center" >
    <h2> About Us</h2>
    <p>We bring to your doorstep wherever you prefer Office or home , home-cooked boxes from our extremely talented home chefs whose secret ingredient is love.</p>
</div>