<div class="home_heading text-center container-fluid">
    <h1>Welcome to LunchBox !!!</h1>
    <h5>Homecooked Indian meals at your doorstep!!!</h5>
</div>
<div class = "container home_signup_links">
    <div class = "row">
        <div class="col-md-4">
            <div class="well">
                <h2 class="text-center">Weekly Combo</h2>
                <h4>Late for office? No time to cook? Sign Up for our weekly combo to save time and eat healthy home-made meal!!!</h4>
                <%= link_to "SignUp for Weekly Combo", "#",class: "btn btn-danger btn-lg btn-block" %>
                
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="well">
                <h2 class="text-center">Monthly Combo</h2>
                <h4>Relax for a month and Save More!!! Sign up for our monthly combo and save 20%!!!</h4>
                 <%= link_to "SignUp for Monthly Combo", "#",class: "btn btn-warning btn-lg btn-block" %>
                
            </div>
        </div>
         <div class="col-md-4">
            <div class="well">
                <h2 class="text-center">Weekend Only Combo</h2>
                <h4>Want to relax in the weekend and relish the home style feast?!! Sign up for our weekend combo. </h4>
                 <%= link_to "SignUp for Weekend Combo", "#",class: "btn btn-success btn-lg btn-block" %>
            </div>            
        </div>
        
    </div>
</div>