<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <p> You have a msg from yout LunchBox Website, from
        <%= " #{@name} , #{@email}" %></p>
        <p> <%= @body %> </p>
    </body>
</html>